<div>
  <div>
    <h1>
      <%= @the_post.title %> Discussion
    </h1>

    <div>
      <div>
        <a href="/posts">
         All Community Posts
        </a>
      </div>

      <div>
        <a href="/delete_post/<%= @the_post.id %>">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_post.title %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_post.body %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% matching_users = User.where({ :id => @the_post.user_id }) %>

        <% the_user = matching_users.at(0) %>

        <%= the_user.username %> 

      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <textarea id="title_box" name="query_title"><%= @the_post.title %></textarea>
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_post.body %></textarea>
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value= "<%= the_user.username %>">
        
      </div>

      <button>
        Update post
      </button>
    </form>
  </div>
</div>

<hr>


<div> <!-- this needs to be comments for that specific post NEED HELP HERE -->
<h2>Comments</h2>

<div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post">
        <input type="hidden" name="query_user_id" value="<%= current_user.id %>">
        <input type="hidden" name="query_post_id" value="<%= @post.id %>">

      <div>
        <label for="body_box">
          Comment
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create a new comment
      </button>
    </form>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          User
        </th>

        <th>
          Post
        </th>

        <th>
          Comment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          Delete Comment 
        </th>
      </tr>

      
      <% @comments.each do |a_comment| %>
      <tr>

        <td>
          <%= a_comment.user.username %> <!-- change this to user name -->
        </td>

        <td>
          <%= @post.title %> <!-- change this to post title -->
        </td>

        <td>
          <%= a_comment.body %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>

        <td> <!-- change this to delete a comment but only user can delete their own comment -->
          <a href="/comments/<%= a_comment.id %>">
            Delete Comment 
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

</div>
